
<section style="background-color:#e9eae8;">
    
    <section class="container pt-4">
        
        <h2 style="text-align: center;color: black; ">Ficha Monitoreo General</h2>
        <br>
        <button type="button" class="btn btn-primary">  
            <a class="aBtnRegresar" routerLink="/monitoreos" >Regresar</a>
        </button>
        &nbsp;
        <button type="button" class="btn btn-success">  
            <a class="aBtnRegresar" routerLink= '/monitoreos' >Monitoreos</a>
        </button>
        <br>
        <br>
        <section class="card">
            <section class="card-body"  > 
                <form action="" >
                    <div class="container ">
                        <fieldset>
                            <legend><strong> Datos generales y ubicación</strong></legend>
                            <div class="row ">
                                <div class="mb-3 col-4">
                                    <label  for="fecha_monitoreo">Fecha de Monitoreo</label>
                                    <input  class="form-control w-75" value="{{monitoreo?.fechaMonitoreo}}" disabled >
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="area_sembrada">Area Sembrada</label>
                                    <input  class="form-control w-75"value="{{monitoreo?.areaSembrada}}" disabled >
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="germinacion_prendimiento">Germinación y Prendimiento</label>
                                    <input  class="form-control w-75" value="{{monitoreo?.germinacionPrendimiento}}" disabled >
                                </div>
                                <div class="mb-3 col-4">
                                    <label  for="">Ubicación</label>
                                    <input  class="form-control w-75" value="{{monitoreo?.ubicacion}}" disabled >
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="">Lugar Lote</label>
                                    <input  class="form-control w-75" value="{{monitoreo?.lugarLote}}" disabled >
                                </div>
                            </div>
                        </fieldset>
                        <hr>
                        <fieldset>
                            <legend> <strong> Datos analisis del suelo </strong></legend>
                            <div class="row">
                                <div class="mb-3 col-4 ">
                                    <label for="MO_porcent">Porcentaje MO</label>
                                    <input class="form-control w-75" value="{{monitoreo?.moPorcent}}" disabled >
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="ph_suelo">Ph del suelo</label>
                                    <input class="form-control w-75" value="{{monitoreo?.phSuelo}}" disabled >
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="porcent_nitrogeno">Porcentaje Nitrogeno</label>
                                    <input class="form-control w-75" value="{{monitoreo?.nitrogenoPorcent}}" disabled >
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="fosforo">Fosforo mg_hg </label>
                                    <input class="form-control w-75" value="{{monitoreo?.fosforoMgHg}}" disabled >
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="potasio">Potasio Cmol Kg</label>
                                    <input class="form-control w-75" value="{{monitoreo?.potasioCmolKg}}" disabled  >
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="otros_elementos">Otros Elementos</label>
                                    <input class="form-control w-75" value="{{monitoreo?.otrosElementos}}" disabled  >
                                </div>
                            </div>
                        </fieldset>
                        <hr>
                        <fieldset>
                            <legend> <strong> Datos generales y ubicación </strong> </legend>
                            <div class="row ">
                                <div class="mb-3 col-4">
                                    <label for="temperatura">Temperatura Celsius</label>
                                    <input class="form-control w-75" value="{{monitoreo?.temperaturaCelsius}}" disabled  >
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="humedad_relativa">Humedad relativa (%)</label>
                                    <input class="form-control w-75" value="{{monitoreo?.humedadRelativaPorcent}}" disabled >
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="riego_lluvia">Riego lluvia (ml)</label>
                                    <input class="form-control w-75" value="{{monitoreo?.riegoLluviaMlPlanta}}" disabled  >
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="observaciones">Observaciones</label>
                                    <textarea class="form-control"  value="{{monitoreo?.observaciones}}" disabled  ></textarea>
                                </div>
                            </div>
                            
                        </fieldset>
                        <hr>
                        <fieldset>
                            <legend> <strong> Datos Asociados</strong> </legend>
                            <div class="row " *ngFor="let monitoreoP of monitoreosP; index as i;">
                                <div class="mb-3 col-4">
                                    <a [routerLink]="['/ver-monitoreo-planta/', monitoreoP.id]"><label>Monitoreo planta {{i+1}} </label> </a>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </section>
        </section>
    </section>

</section>   