<section class="container pt-4">
    <div class="lineaIzquierda">
        <div class=" container principalV">
            <div class="row">  
                <div class=" pb-3">
                    <h4 class="text-black pt-3">CATALOGOS</h4>
                </div>
            </div>
        </div>
    </div>
    <section class="card">
        <section class="card-body">
            <span class="h3">Listado de Catálogos</span>
            <table class="table table-striped mt-4">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Ver</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let catalogo of catalogos" >
                    <td>{{catalogo.nombre}}</td>
                    <td>{{catalogo.descripcion}}</td>
                   
                    <td> <a [routerLink]="['/items-catalogo/', catalogo.id]"><i class="fas fa-eye fa-lg text-info"></i></a></td>
                  </tr>
                </tbody>
            </table>
        </section>
    </section>
</section>