<section class="container pt-4">
    <div class="lineaIzquierda">
        <div class=" container principalV">
            <div class="row">  
                <div class=" pb-3">
                    <h4 class="text-black pt-3">PLANTAS</h4>
                </div>
            </div>
        </div>
    </div>
    <section class="card">
        <section class="card-body">
            <span class="h3">Listado de Plantas</span>
            <button class="btn btn-primary float-right" data-toggle="modal" data-target="#modalPlanta">Agregar Planta</button>
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th>Planta</th>
                        <th>Variedad</th>
                        <th>Cultivo</th>
                        <th>Fecha Siembra</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let planta of plantas " >
                        <td>{{planta.id}}</td>
                        <td>{{planta.variedad.nombre}}</td>
                        <td>{{planta.cultivo.nombre}}</td>
                        <td>{{planta.fechaSiembra}}</td>
                        <td><i class="fas fa-edit fa-lg text-info"></i></td>
                        <td><i class="fas fa-trash-alt fa-lg text-danger" data-toggle="modal" data-target="#modalEliminar" (click)="getIdEliminar(planta.id)"></i></td>
                    </tr>
                  
                </tbody>
            </table>
        </section>
    </section>
    <!--Modal Codigo Planta-->
    <!-- Modal -->
    <div class="modal fade" id="modalPlanta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Nueva Planta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action='' [formGroup]="crearPlanta" (ngSubmit)="agregarPlanta()">
                    <div class="modal-body">
                        <label for="cultivo"> Cultivo</label>
                        <select name="cultivo" id="cultivo" class="form-control" formControlName="cultivo">
                            <option value="" disable >--Cultivo--</option>
                            <option *ngFor="let cultivo of cultivos" value={{cultivo.id}} >{{cultivo.nombre}}</option>
                        </select>
                        <label for="variedad"> Variedad</label>
                        <select name="variedad" id="variedad" class="form-control" formControlName="variedad" >
                            <option value="" disable >--Variedad--</option>
                            <option *ngFor="let variedad of variedades" value={{variedad.id}} >{{variedad.nombre}}</option>
                        </select>
                        <label for=""> fecha Siembra</label>
                        <input  type= "date" class="form-control " formControlName="fechaSiembra" >
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit"  class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Eliminar-->
    <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de eliminar?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Nos ayuda a que el usuario llene todos los campos-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger" (click)="eliminarPlanta()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</section>
