<section class="container pt-4">
    <div class="lineaIzquierda">
        <div class=" container principalV">
            <div class="row">  
                <div class=" pb-3">
                    <h4 class="text-black pt-3">MONITOREOS</h4>
                </div>
            </div>
        </div>
    </div>
    <section class="card">
        <section class="card-body">
            <span class="h3">Listado de Monitoreos Generales</span>
            <button class="btn btn-primary float-right" data-toggle="modal" data-target="#modalCodigoPlanta">Agregar Monitoreo general</button>
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th>Fecha Monitoreo</th>
                        <th>Area Sembrada</th>
                        <th>Temperatura clima</th>
                        <th>Monitoreos</th>
                        <th>Ver</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let monitoreo of monitoreos">
                        <td>{{monitoreo.fechaMonitoreo}}</td>
                        <td>{{monitoreo.areaSembrada}}</td>
                        <td>{{monitoreo.temperaturaCelsius}}</td>
                        <td><button class="btn btn-secondary" [routerLink]="['/monitoreo-planta/', monitoreo.id]"> Agregar Monitoreo</button></td>
                        <td> <a href="" [routerLink]="['/ver-monitoreo/', monitoreo.id]"><i class="fas fa-eye fa-lg text-info"></i></a></td>
                        <td><i class="fas fa-edit fa-lg text-info"></i></td>
                        <td><i class="fas fa-trash-alt fa-lg text-danger" data-toggle="modal" data-target="#modalEliminar" (click)="getIdEliminar(monitoreo.id)"></i></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
    <!--Modal Codigo Planta-->
    <!-- Modal -->
    <div class="modal fade" id="modalCodigoPlanta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form >
                    <div class="modal-body">
                        <label for=""> Ingrese el código de la planta</label>
                        <input  class="form-control " type="text" #planta>
                    </div>
                    <div class="modal-footer">
                        <p>{{planta.value}} </p>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" (click)="elegirPlanta(planta.value)" data-dismiss="modal"  class="btn btn-primary" >Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Eliminar-->
    <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de eliminar?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Nos ayuda a que el usuario llene todos los campos-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger" (click)="eliminarMonitoreo()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</section>