<section class="container pt-4">
    <div class="lineaIzquierda">
        <div class=" container principalV">
            <div class="row">  
                <div class=" pb-3">
                    <h4 class="text-black pt-3">CULTIVOS </h4>
                </div>
            </div>
        </div>
    </div>
    <section class="card">
        <section class="card-body">
            <span class="h3">Listado de Cultivos</span>
            <button class="btn btn-primary float-right" routerLink="/registro-cultivo">Agregar</button>
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th>Cultivo</th>
                        <th>Nombre Común</th>
                        <th>Origen</th>
                        <th>Variedades</th>
                        <th>Plagas y Enfermedades</th>
                        <th>Ver</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let cultivo of cultivos" >
                        <td>{{cultivo.nombre}}</td>
                        <td>{{cultivo.nombre}}</td>
                        <td>{{cultivo.origen}}</td>
                        <td><button class="btn btn-secondary" data-toggle="modal" data-target="#modalVariedades" (click)="getVariedades(cultivo.id)">Variedades</button></td>
                        <td><button class="btn btn-secondary" data-toggle="modal" data-target="#modalPlagasEnfermedades" (click)="getCultivoPlagaEnfermedad(cultivo.id)">Plagas y Enfermedades</button></td>

                        <td> <a  [routerLink]="['/ver-cultivo/', cultivo.id]"><i class="fas fa-eye fa-lg text-info"></i></a></td>
                        <td><i class="fas fa-edit fa-lg text-info"></i></td>
                        <td><i class="fas fa-trash-alt fa-lg text-danger" data-toggle="modal" data-target="#modalEliminarCultivo" (click)="getIdEliminar(cultivo.id)"></i></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
</section>
<!-- Modal Variedades-->
<div class="modal fade" id="modalVariedades" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div  class="modal-header modalHeader">
                <h5 class="modal-title"  id="exampleModalLabel">Variedades</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <button class="btn btn-primary mt-3 mr-3 float-right" data-toggle="modal" data-target="#modalAgregarVariedad">Agregar</button>
            </div>
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let variedad of variedades " >
                        <td>{{variedad.nombre}}</td>
                        <td><i class="fas fa-edit fa-lg text-info"></i></td>
                        <td><i class="fas fa-trash-alt fa-lg text-danger" data-toggle="modal" data-target="#modalEliminarVariedad" (click)="getIdEliminar(variedad.id)"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal Crear Variedad-->
<div class="modal fade" id="modalAgregarVariedad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div  class="modal-header modalHeader">
                <h5 class="modal-title"  id="exampleModalLabel">Nueva Variedad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="POST">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input id="nombre" type="text" class="form-control" name="nombre" placeholder="Nombre"  required autocomplete="name" autofocus>
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary ml-3">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Plagas y enfermedades-->
<div class="modal fade" id="modalPlagasEnfermedades" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div  class="modal-header modalHeader">
                <h5 class="modal-title"  id="exampleModalLabel">Plagas y Enfermedades</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <button class="btn btn-primary mt-3 mr-3 float-right" data-toggle="modal" data-target="#modalAgregarPlagaEnfermedad">Agregar</button>
            </div>
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cultivoPE of cultivosPlagasEnfermedades " >
                        <td>{{cultivoPE.plagaEnfermedad.nombre}}</td>
                        <td><i class="fas fa-edit fa-lg text-info"></i></td>
                        <td><i class="fas fa-trash-alt fa-lg text-danger" data-toggle="modal" data-target="#modalEliminarPlagaEnfermedad" (click)="getIdEliminar(cultivoPE.id)"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal Crear Plaga y enfermedad-->
<div class="modal fade" id="modalAgregarPlagaEnfermedad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div  class="modal-header modalHeader">
                <h5 class="modal-title"  id="exampleModalLabel">Nueva Plaga y Enfermedad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="POST">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Plaga y Enfermedad</label>
                        <select name="plaga_enfermedad" id="plaga_enfermedad" class="form-control">
                            <option value="" disable >--Plaga Enfermedad--</option>
                            <option *ngFor="let plagaEnfermedad of plagasEnfermedades" value={{plagaEnfermedad.id}} >{{plagaEnfermedad.nombre}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary ml-3">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal Eliminar Variedad-->
    <div class="modal fade" id="modalEliminarVariedad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de eliminar?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Nos ayuda a que el usuario llene todos los campos-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger" (click)="eliminarVariedad()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Eliminar Plaga y enfermedad-->
    <div class="modal fade" id="modalEliminarPlagaEnfermedad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de eliminar?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Nos ayuda a que el usuario llene todos los campos-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger" (click)="eliminarPlagaEnfermedad()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Eliminar para Cultivo-->
    <div class="modal fade" id="modalEliminarCultivo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de eliminar?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Nos ayuda a que el usuario llene todos los campos-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger" (click)="eliminarCultivo()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>