
.lineaIzquierdaItems{
    border-left: 6px solid rgb(65, 66, 65);
    border-bottom: 1px solid rgb(190, 216, 160);
    background-color: rgb(213, 214, 212);
    margin-bottom: 1.5em;
}
.lineaIzquierdaItems{
    width: 75%;
}
.principalVItems .row .rounded{
    align-content: center;
}
.containerItemCatalogo  {
  
    margin-left: 12em;
}