<nav class="navbar navbar-expand-lg navbar-light bg-light navPrincipal">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/menu">AGRO-TIC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Datos Generales
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" aria-current="page" routerLink="/cultivos">Cultivos</a>
                        <a class="dropdown-item" aria-current="page" routerLink="/planta">Plantas</a>
                        <a class="dropdown-item" aria-current="page" routerLink="/catalogos">Catálogos</a>
                        <a class="dropdown-item" aria-current="page" routerLink="/plaga-enfermedad">Plagas y Enfermedades</a>
                    </div>
                </div>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/monitoreos">Monitoreos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

