<section style="background-color:#e9eae8;">
    
    
    <section class="container pt-4">
        <button type="button" class="btn btn-primary">  
            <a class="aBtnRegresar" routerLink="/monitoreos">Regresar</a>
        </button>
        <h2 style="text-align: center;">Formulario de Monitoreo General</h2>
        <br>
        <section class="card">
            <section class="card-body"  > 
                <form action="">
                    <div class="container ">
                        <fieldset>
                            <legend>Datos generales y ubicación</legend>
                            <div class="row ">
                                <div class="mb-3 col-4">
                                    <label  for="fecha_monitoreo">Fecha de Monitoreo</label>
                                    <input type="date" class="form-control w-75" id="fecha_monitoreo" placeholder="Fecha de Monitoreo" formControlName="fechaMonitoreo">
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="area_sembrada">Area Sembrada</label>
                                    <input type="number" class="form-control w-75" id="area_sembrada" placeholder="Area Sembrada" formControlName="areaSembrada">
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="germinacion_prendimiento">Germinación y Prendimiento</label>
                                    <input type="number" class="form-control w-75" id="germinacion_prendimiento" placeholder="Germinación y Prendimiento" formControlName="germinacionPrendimiento">
                                </div>
                                <div class="mb-3 col-4">
                                    <label  for="">Ubicación</label>
                                    <input type="text" class="form-control w-75" formControlName="ubicacion" id="" placeholder="Ubicación">
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="">Lugar Lote</label>
                                    <input type="text" class="form-control w-75" id="" formControlName="lugarLote" placeholder="Lugar Lote">
                                </div>
                            </div>
                        </fieldset>
                        <hr>
                        <fieldset>
                            <legend>Datos analisis del suelo</legend>
                            <div class="row">
                                <div class="mb-3 col-4 ">
                                    <label for="porcentaje_mo">Porcentaje MO</label>
                                    <input type="number" class="form-control w-75" id="porcentaje_mo" placeholder="Porcentaje MO" formControlName="porcentajeMo">
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="ph_suelo">Ph del suelo</label>
                                    <input type="number" class="form-control w-75" id="ph_suelo" placeholder="Ph del suelo" formControlName="phSuelo">
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="porcent_nitrogeno">Porcentaje Nitrogeno</label>
                                    <input type="number" class="form-control w-75" id="porcent_nitrogeno" placeholder="Porcentaje Nitrogeno" formControlName="porcentNitrogeno">
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="fosforo">Fosforo mg_hg </label>
                                    <input type="number" class="form-control w-75" id="fosforo" placeholder="Fosforo mg_hg" formControlName="fosforo">
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="potasio">Potasio Cmol Kg</label>
                                    <input type="number" class="form-control w-75" id="potasio" placeholder="Potasio Cmol Kg" formControlName="potasio">
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="otros_elementos">Otros Elementos</label>
                                    <input type="text" class="form-control w-75" id="otros_elementos" placeholder="" formControlName="otrosElementos">
                                </div>
                            </div>
                        </fieldset>
                        <hr>
                        <fieldset>
                            <legend>Datos generales y ubicación</legend>
                            <div class="row ">
                                <div class="mb-3 col-4">
                                    <label for="temperatura">Temperatura Celsius</label>
                                    <input type="number" class="form-control w-75"  id="temperatura" placeholder="Temperatura Celsius" formControlName="temperatura">
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="humedad_relativa">Humedad relativa (%)</label>
                                    <input type="number" class="form-control w-75"  id="humedad_relativa" placeholder="Porcentaje Humedad relativa" formControlName="humedadRelativa">
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="riego_lluvia">Riego lluvia (ml)</label>
                                    <input type="number" class="form-control w-75" id="riego_lluvia" placeholder="Riego lluvia (ml) planta" formControlName="riegoLluvia">
                                </div>   
                                <div class="mb-3 col-4">
                                    <label for="observaciones">Observaciones</label>
                                    <textarea formControlName="observaciones" id="observaciones" cols="30" rows="10"></textarea>
                                </div>
                                <div class="mb-3 col-4">
                                    <label for="usuario">Usuario</label>
                                    <select class="form-control w-75"  formControlName="usuario" id="usuario"></select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </section>
        </section>
    </section>

</section>


        

