.lineaIzquierdaSubCultivo{
    width: 100%;
  }

.accordion button {

  font-weight: bold;
  color: #004987;

}
.btnRegresar{
  margin-bottom: 0.5em;
}
/*
.accordion-button:not(.collapsed) {
  color: #0c63e4;
  background-color: #eeeeee;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
*/