<section style="background-color:#e9eae8;">
    <section class="container pt-4" >
        <button type="button" class="btn btn-primary">  
            <a class="aBtnRegresar" routerLink="/cultivos" >Regresar</a>
        </button>
        <h2 class="text-center">Nuevo Cultivo</h2>
        <br>
        <section class="card">
            <section class="card-body" >
                <form [formGroup]="crearCultivo" (ngSubmit)="agregarCultivo()">
                    <fieldset>
                        <legend>Datos Generales</legend>
                        <div class="row">
                            <div class="mb-3 col-4">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input formControlName="nombre" type="text" id="nombre" class="form-control w-75" placeholder="Nombre" required >
                            </div>
                            <div class="mb-3 col-4">
                                <label for="" class="form-label">Clima</label>
                                <input formControlName="origen" type="text" id="origen" class="form-control w-75" placeholder="Origen" required>
                            </div>
                            <div class="mb-3 col-4">
                                <label for="ciclo_vida" class="form-label">Ciclo de vida</label>
                                <input formControlName="cicloVida" type="text" id="ciclo_vida" class="form-control w-75" placeholder="Ciclo de vida" required>
                            </div>
                            <div class="mb-3 col-4">
                                <label for="clima" class="form-label">Zona produccion</label>
                                <input formControlName="clima" type="text" id="clima" class="form-control w-75" placeholder="Clima" required>
                            </div>
                            <div class="mb-3 col-4">
                                <label for="zona_produccion" class="form-label">Zona producción</label>
                                <input formControlName="zonaProduccion" type="text" id="zona_produccion" class="form-control w-75" placeholder="Zona producción" required>
                            </div>
                            <div class="mb-3 col-4">
                                <label for="labores_cultivo" class="form-label">Labores del cultivo</label>
                                <input formControlName="laboresCultivo" type="text" id="labores_cultivo" class="form-control w-75" placeholder="Labores del cultivo">
                            </div>
                            <div class="mb-3 col-6">
                                <label for="abonamiento" class="form-label">Abonamiento</label>
                                <input formControlName="abonamiento" type="text" id="abonamiento" class="form-control" placeholder="Abonamiento" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="fertilizacion" class="form-label">Fertilización</label>
                                <input formControlName="fertilizacion" type="text" id="fertilizacion" class="form-control" placeholder="Fertilización" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="buena_asociacion" class="form-label">Buena asociación</label>
                                <input formControlName="buenaAsociacion" type="text" id="buena_asociacion" class="form-control" placeholder="Buena asociación" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="mala_asociacion" class="form-label">Mala asociación</label>
                                <input formControlName="malaAsociacion" type="text" id="mala_asociacion" class="form-control" placeholder="Mala asociación" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="control_malas_hierbas" class="form-label">Control de malas hierbas</label>
                                <input formControlName="controlMalasHierbas" type="text" id="control_malas_hierbas" class="form-control" placeholder="Control de malas hierbas" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="uso_aplicacion" class="form-label">Uso y apliación</label>
                                <input formControlName="usoAplicacion" type="text" id="uso_aplicacion" class="form-control" textArea="200" placeholder="Uso y apliación" required>
                            </div>
                            <div class="mb-3 col-12">
                                <label for="riego" class="form-label">Riego</label>
                                <input formControlName="riego" type="text" id="riego" class="form-control" placeholder="Riego" required>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend>Taxonomía</legend>
                        <div class="row">
                            <div class="mb-3 col-4">
                                <label for="nombre_comun" class="form-label">Nombre común</label>
                                <input formControlName="nombreComun" type="text" id="nombre_comun" class="form-control w-75" placeholder="Nombre común" required>
                            </div>
                            <div class="mb-3 col-4">
                                <label for="familia" class="form-label">Familia</label>
                                <select formControlName="familia" id="familia" class="form-control w-75" required>
                                    <option value="" disable >Elegir familia</option>
                                    <option value="">Familia 1</option>
                                    <option value="">Familia 2</option>
                                </select>
                            </div>
                            <div class="mb-3 col-4">
                                <label for="genero" class="form-label">Género</label>
                                <select formControlName="genero" id="genero" class="form-control w-75" required>
                                    <option value="" disable >Elegir Género</option>
                                    <option value="">Género 1</option>
                                    <option value="">Género 2</option>
                                </select>
                            </div>
                            <div class="mb-3 col-4">
                                <label for="especie" class="form-label">Especie</label>
                                <input formControlName="especie" type="text" id="especie" class="form-control w-75" placeholder="Especie" required>
                            </div>
                            <div class="mb-3 col-4">
                                <label for="nombre_cientifico" class="form-label">Nombre científico</label>
                                <input formControlName="nombreCientifico" type="text" id="nombre_cientifico" class="form-control w-75" placeholder="Nombre científico" required>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend>Morfología</legend>
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label for="raiz" class="form-label">Raíz</label>
                                <input formControlName="raiz" type="text" id="raiz" class="form-control" placeholder="Raíz" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="hojas" class="form-label">Hojas</label>
                                <input formControlName="hojas" type="text" id="hojas" class="form-control" placeholder="Hojas" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="tallo" class="form-label">Tallo</label>
                                <input formControlName="tallo" type="text" id="tallo" class="form-control" placeholder="Tallo" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="inflorescencia" class="form-label">Inflorescencia</label>
                                <input formControlName="inflorescencia" type="text" id="inflorescencia" class="form-control" placeholder="Inflorescencia" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="semilla" class="form-label">Semilla</label>
                                <input formControlName="semilla" type="text" id="semilla" class="form-control" placeholder="Semilla" required>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend>Tamaño</legend>
                        <div class="row">
                            <div class="mb-3 col-3">
                                <label for="altura" class="form-label">Altura</label>
                                <input formControlName="altura" type="number" id="altura" class="form-control w-75" placeholder="Altura" required>
                            </div>
                            <div class="mb-3 col-3">
                                <label for="diametro" class="form-label">Diametro</label>
                                <input formControlName="diametro" type="number" id="diametro" class="form-control w-75" placeholder="Diametro" required>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend>Temperatura</legend>
                        <div class="row">
                            <div class="mb-3 col-3">
                                <label for="temp_optima_maxima" class="form-label">Óptima máxima</label>
                                <input formControlName="TempOptimaMaxima" type="number" id="temp_optima_maxima" class="form-control w-75" placeholder="Óptima máxima" required>
                            </div>
                            <div class="mb-3 col-3">
                                <label for="temp_optima_minima" class="form-label">Óptima mínima</label>
                                <input formControlName="TempOptimaMinima" type="text" id="temp_optima_minima" class="form-control w-75" placeholder="Óptima mínima" required>
                            </div>
                            <div class="mb-3 col-3">
                                <label for="temp_germinacion_crecimiento" class="form-label">Mínima de crecimiento</label>
                                <input formControlName="TempGerminacionCrecimiento" type="number" id="temp_germinacion_crecimiento" class="form-control w-75" placeholder="Mínima de crecimiento" required>
                            </div>
                            <div class="mb-3 col-3">
                            </div>
                            <div class="mb-3 col-3">
                                <label for="temp_germinacion_maxima" class="form-label">Germinación máxima</label>
                                <input formControlName="TempGerminacionMaxima" type="number" id="temp_germinacion_maxima" class="form-control w-75" placeholder="Germinación máxima" required>
                            </div>
                            <div class="mb-3 col-3">
                                <label for="temp_germinacion_minima" class="form-label">Germinación mínima</label>
                                <input formControlName="TempGerminacionMinima" type="number" id="temp_germinacion_minima" class="form-control w-75" placeholder="Germinación mínima" required>
                            </div>
                            <div class="mb-3 col-3">
                            </div>
                            <div class="mb-3 col-6">
                                <label for="observaciones_temp" class="form-label">Observaciones</label>
                                <textarea formControlName="observacionesTemp" id="observaciones_temp" class="form-control" rows="3" cols="20" placeholder="Observaciones" required></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend>Humedad</legend>
                        <div class="row">
                            <div class="mb-3 col-3">
                                <label for="humedad_maxima" class="form-label">Máxima</label>
                                <input formControlName="humedadMaxima" type="number" id="humedad_maxima" class="form-control w-75" placeholder="Máxima" required>
                            </div>
                            <div class="mb-3 col-3">
                                <label for="humedad_minima" class="form-label">Mínima</label>
                                <input formControlName="humedadMinima" type="number" id="humedad_minima" class="form-control w-75" placeholder="Mínima" required>
                            </div>
                            <div class="mb-3 col-3">
                            </div>
                            <div class="mb-3 col-6">
                                <label for="observaciones_humedad" class="form-label">Observaciones</label>
                                <textarea formControlName="observacionesHumedad" id="observaciones_humedad" class="form-control" rows="3" cols="20" placeholder="Observaciones" required></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend>Plantación</legend>
                        <div class="row">
                            <div class="mb-3 col-3">
                                <label for="densidad_siembra_max" class="form-label">Densidad máxima de siembra</label>
                                <input formControlName="densidadSiembraMax" type="number" id="densidad_siembra_max" class="form-control w-75" placeholder="Densidad máxima de siembra" required>
                            </div>
                            <div class="mb-3 col-3">
                                <label for="densidad_siembra_min" class="form-label">Densidad mínima de siembra</label>
                                <input formControlName="densidadSiembraMin" type="number" id="densidad_siembra_min" class="form-control w-75" placeholder="Densidad mínima de siembra" required>
                            </div>
                            <div class="mb-3 col-3">
                                <label for="distancia_surcos" class="form-label">Distancia entre surcos</label>
                                <input formControlName="distanciaSurcos" type="number" id="distancia_surcos" class="form-control w-75" placeholder="Distancia entre surcos" required>
                            </div>
                            <div class="mb-3 col-3">
                                <label for="distancia_plantas" class="form-label">Distancia entre plantas</label>
                                <input formControlName="distanciaPlantas" type="number" id="distancia_plantas" class="form-control w-75" placeholder="Distancia entre plantas" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="proceso_pantacion" class="form-label">Proceso</label>
                                <input formControlName="procesoPantacion" type="text" id="proceso_pantacion" class="form-control" placeholder="Proceso" required>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend>Preparación del Terreno</legend>
                        <div class="row">
                            <div class="mb-3 col-9">
                                <label for="proceso_terreno" class="form-label">Proceso</label>
                                <input formControlName="procesoTerreno" type="text" id="proceso_terreno" class="form-control" placeholder="Proceso" required>
                            </div>
                            <div class="mb-3 col-2">
                                <label for="profundidad" class="form-label">Profundidad</label>
                                <input formControlName="profundidad" type="number" id="profundidad" class="form-control" placeholder="Profundidad" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="observaciones_terreno" class="form-label">Observaciones</label>
                                <textarea formControlName="observacionesTerreno" id="observaciones_terreno" class="form-control" rows="3" cols="20" placeholder="Observaciones" required></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend>Valor Nutricional</legend>
                        <div class="row">
                            <div class="mb-3 col-3">
                                <label for="carbohidratos" class="form-label">Carbohidratos(gramos)</label>
                                <input formControlName="carbohidratos" type="number" id="carbohidratos" class="form-control w-75" placeholder="Carbohidratos" required>
                            </div>
                            <div class="mb-3 col-3">
                                <label for="proteinas" class="form-label">Proteinas(gramos)</label>
                                <input formControlName="proteinas" type="number" id="proteinas" class="form-control w-75" placeholder="Proteinas" required>
                            </div>
                            <div class="mb-3 col-3">
                                <label for="grasas" class="form-label">Grasas(gramos)</label>
                                <input formControlName="grasas" type="number" id="grasas" class="form-control w-75" placeholder="Grasas" required>
                            </div>
                            <div class="mb-3 col-3">
                                <label for="calorias" class="form-label">Calorias(cal)</label>
                                <input formControlName="calorias" type="number" id="calorias" class="form-control w-75" placeholder="Calorias" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="observaciones_nutricional" class="form-label">Observaciones</label>
                                <textarea formControlName="observacionesNutricional" id="observaciones_nutricional" class="form-control" rows="3" cols="20" placeholder="Observaciones" required></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend>Producción promedio</legend>
                        <div class="row">
                            <div class="mb-3 col-3">
                                <label for="maxima_produccion" class="form-label">Máxima</label>
                                <input formControlName="maximaProduccion" type="number" id="maxima_produccion" class="form-control w-75" placeholder="Máxima" required>
                            </div>
                            <div class="mb-3 col-3">
                                <label for="minima_produccion" class="form-label">Mínima</label>
                                <input formControlName="minimaProduccion" type="number" id="minima_produccion" class="form-control w-75" placeholder="Mínima" required>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend>Almacenamiento</legend>
                        <div class="row">
                            <div class="mb-3 col-3">
                                <label for="maxima_almacenamiento" class="form-label">Temperatura Máxima</label>
                                <input formControlName="maximaAlmacenamiento" type="number" id="maxima_almacenamiento" class="form-control w-75" placeholder="Máxima" required>
                            </div>
                            <div class="mb-3 col-3">
                                <label for="minima_almacenamiento" class="form-label">Temperatura Mínima</label>
                                <input formControlName="minimaAlmacenamiento" type="number" id="minima_almacenamiento" class="form-control w-75" placeholder="Mínima" required>
                            </div>
                            <div class="mb-3 col-3">
                            </div>
                            <div class="mb-3 col-6">
                                <label for="observaciones_almacenamiento" class="form-label">Observaciones</label>
                                <textarea formControlName="observacionesAlmacenamiento" id="observaciones_almacenamiento" class="form-control" rows="3" cols="20" placeholder="Observaciones" required></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend>Recolección</legend>
                        <div class="row">
                            <div class="mb-3 col-3">
                                <label for="desde" class="form-label">Desde(días)</label>
                                <input formControlName="desde" type="number" id="desde" class="form-control w-75" placeholder="Desde" required>
                            </div>
                            <div class="mb-3 col-3">
                                <label for="hasta" class="form-label">Hasta(días)</label>
                                <input formControlName="hasta" type="number" id="hasta" class="form-control w-75" placeholder="Hasta" required>
                            </div>
                            <div class="mb-3 col-3">
                            </div>
                            <div class="mb-3 col-6">
                                <label for="observaciones_recoleccion" class="form-label">Observaciones</label>
                                <textarea formControlName="observacionesRecoleccion" id="observaciones_recoleccion" class="form-control" rows="3" cols="20" placeholder="Observaciones" required></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend>Época de siembra</legend>
                        <div class="row">
                            <div class="mb-3 col-3">
                                <label for="epoca_principal" class="form-label">Época principal</label>
                                <input formControlName="epocaPrincipal" type="text" id="epoca_principal" class="form-control w-75" placeholder="Época principal" required>
                            </div>
                            <div class="mb-3 col-6">
                            </div>
                            <div class="mb-3 col-6">
                                <label for="observaciones_epoca_siembra" class="form-label">Observaciones</label>
                                <textarea formControlName="observacionesEpocaSiembra" id="observaciones_epoca_siembra" class="form-control" rows="3" cols="20" placeholder="Observaciones" required></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend>Suelo</legend>
                        <div class="row">
                            <div class="mb-3 col-3">
                                <label for="maximo_ph" class="form-label">PH Máximo</label>
                                <input formControlName="maximoPh" type="number" id="maximo_ph" class="form-control w-75" placeholder="Máximo" required>
                            </div>
                            <div class="mb-3 col-3">
                                <label for="minimo_ph" class="form-label">PH Mínimo</label>
                                <input formControlName="minimoPh" type="number" id="minimo_ph" class="form-control w-75" placeholder="Mínimo" required>
                            </div>
                            
                            <div class="mb-3 col-3">
                            </div>
                            <div class="mb-3 col-6">
                                <label for="observaciones_suelo" class="form-label">Observaciones</label>
                                <textarea formControlName="observacionesSuelo" id="observaciones_suelo" class="form-control" rows="3" cols="20" placeholder="Observaciones" required></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <hr>
                    <fieldset>
                        <legend>Semillero</legend>
                        <div class="row">
                            <div class="mb-3 col-12">
                                <label for="material" class="form-label">Material</label>
                                <input formControlName="material" type="text" id="material" class="form-control w-50" placeholder="Material" required>
                            </div>
                            <div class="mb-3 col-3">
                                <label for="dias_transplante" class="form-label">Días para transplante</label>
                                <input formControlName="diasTransplante" type="number" id="dias_transplante" class="form-control w-75" placeholder="Días para transplante" required>
                            </div>
                            <div class="mb-3 col-3">
                                <label for="maximo_semillas" class="form-label">Semillas Máximas(kg/ha)</label>
                                <input formControlName="maximoSemillas" type="number" id="maximo_semillas" class="form-control w-75" placeholder="Máximo" required>
                            </div>
                            <div class="mb-3 col-3">
                                <label for="minimo_semillas" class="form-label">Semillas Mínimas(kg/ha)</label>
                                <input formControlName="minimoSemillas" type="number" id="minimo_semillas" class="form-control w-75" placeholder="Mínimo" required>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="recomendaciones_semillero" class="form-label">Recomendaciones</label>
                                <textarea formControlName="recomendacionesSemillero" id="recomendaciones_semillero" class="form-control" rows="3" cols="20" placeholder="Recomendaciones" required></textarea>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="observaciones_semillero" class="form-label">Observaciones</label>
                                <textarea formControlName="observacionesSemillero" id="observaciones_semillero" class="form-control" rows="3" cols="20" placeholder="Observaciones" required></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <br>
                    <div class="mb-3 col-6">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-danger ml-5">Cancelar</button>
                    </div>
                </form>
            </section>
        </section>
    </section>    
</section>
