<!-- Latest compiled and minified CSS -->
<section style="background-color:#e9eae8;">
  <h2 style="text-align: center;">Formulario de Monitoreo General</h2>
    <section class="container pt-4" >
      <section class="card">
        <section class="card-body" > 
          <form action="">
            <div class="container ">
              <fieldset>
                <legend>Datos generales y ubicación</legend>
                <div class="row ">
                  <div class="mb-3 col-4">
                    <label  for="">Fecha de Monitoreo</label>
                    <input type="" class="form-control w-75" id="" placeholder="Fecha de Monitoreo" name="">
                  </div>
                  <div class="mb-3 col-4">
                    <label for="">Area Sembrada</label>
                    <input type="number" class="form-control w-75" id="" placeholder="Area Sembrada" name="">
                  </div>
                  <div class="mb-3 col-4">
                    <label for="">Germinación y Prendimiento</label>
                    <input type="number" class="form-control w-75" id="" placeholder="Germinación y Prendimiento" name="">
                  </div>
                </div>
              </fieldset>
              <hr>
              <fieldset>
                <legend>Datos analisis del suelo</legend>
                <div class="row">
                  <div class="mb-3 col-4 ">
                    <label for="">Porcentaje MO</label>
                    <input type="number" class="form-control w-75" id="" placeholder="Porcentaje MO" name="">
                  </div>
                  <div class="mb-3 col-4">
                    <label for="">Ph del suelo</label>
                    <input type="number" class="form-control w-75" id="" placeholder="Ph del suelo" name="">
                  </div>
                  <div class="mb-3 col-4">
                    <label for="">Porcentaje Nitrogeno</label>
                    <input type="number" class="form-control w-75" id="" placeholder="Porcentaje Nitrogeno" name="">
                  </div>
                  <div class="mb-3 col-4">
                    <label for="">Fosforo mg_hg </label>
                    <input type="number" class="form-control w-75" id="" placeholder="Fosforo mg_hg" name="">
                  </div>
                  <div class="mb-3 col-4">
                    <label for="">Potasio Cmol Kg</label>
                    <input type="number" class="form-control w-75" id="" placeholder="Potasio Cmol Kg" name="">
                  </div>
                  <div class="mb-3 col-4">
                    <label for="">Otros Elementos</label>
                    <input type="text" class="form-control w-75" id="" placeholder="" name="">
                  </div>
                </div>
              </fieldset>
              <hr>
              <fieldset>
                <legend>Datos generales y ubicación</legend>
                <div class="row ">
                  
                  <div class="mb-3 col-4">
                    <label for="">Temperatura Celsius</label>
                    <input type="number" class="form-control w-75"  id="" placeholder="Temperatura Celsius" name="">
                  </div>
                  <div class="mb-3 col-4">
                    <label for="">Humedad relativa (%)</label>
                    <input type="number" class="form-control w-75"  id="" placeholder="Porcentaje Humedad relativa" name="">
                  </div>
                  <div class="mb-3 col-4">
                    <label for="">Riego lluvia (ml)</label>
                    <input type="number" class="form-control w-75" id="" placeholder="Riego lluvia (ml) planta" name="">
                  </div>   
                  <div class="mb-3 col-4">
                    <label for="">Observaciones</label>
                   <textarea name="" id="" cols="30" rows="10"></textarea>
                  </div>
                  <div class="mb-3 col-4">
                    <label for="">Usuario</label>
                    <select class="form-control w-75"  name="" id=""></select>
                  </div>
                </div>
              </fieldset>
            </div>
          </form>
        </section>
      </section>
    </section>
  </section>


        

