/* You can add global styles to this file, and also import other style files */

  /*Flecha Final================================== para todo*/
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 90;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: rgb(68, 64, 64);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: rgb(77, 38, 53);
  }
.lineaIzquierda{
    border-left: 6px solid #004170;
    border-bottom: 1px solid rgb(160, 180, 216);
    background-color: rgb(185, 202, 247);
    margin-bottom: 1.5em;
}

.principalV .row .rounded{
    align-content: center;
}
/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/
/*Estuilos para el boton regresar*/
.aBtnRegresar{
  text-decoration: none;
  color: white;
}
.btnRegresarItems{

  margin-bottom: 0.5em;
}
/*Estuilos para subtitulos*/
.lineaIzquierdaSub, .lineaIzquierdaSubCultivo {
  border-left: 6px solid #4d4c4c;
  border-bottom: 1px solid #a7a6a5;
  background-color: rgb(204, 204, 204);
  margin-bottom: 1em;
}
.lineaIzquierdaSub{
  width: 75%;
}
.principalVSub .row .rounded{
  align-content: center;
}
label, input, p{
  font-size: 15px;
}
