/* You can add global styles to this file, and also import other style files */

  /*Flecha Final================================== para todo*/
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 90;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: rgb(68, 64, 64);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: rgb(77, 38, 53);
  }
.lineaIzquierda{
    border-left: 6px solid rgb(22, 128, 31);
    border-bottom: 1px solid rgb(190, 216, 160);
    background-color: rgb(215, 247, 185);
    margin-bottom: 1.5em;
}
.principalV h5{
    color: #4e4c4c;
    
}
.principalV .row .rounded{
    align-content: center;
}
/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/