<section class="espacio row align-items-center">
    <section class="col-6 align-items-center">
        <article class="datAd">
            <section class="partsup" ><h5>Cultivos</h5></section>   
            <p> Permite acceder a todos los cultivos registrados en la finca</p>
        </article >
    </section>
    <section class="col-6 align-items-center">
        <article class="datAd">
            <section class=" partsup partsup2"  ><h5>Monitoreos</h5></section>  
            <p> Permite acceder a los formularios para cargar los datos de un monitoreo</p>
        </article >
    </section>
</section>