<section class="espacio row align-items-center">
    <section class="col-6 align-items-center pt-5">
        <article class="datAd">
            <section class="partsup" ><h4 class="negro">Datos Generales</h4></section>   
            <p class="p-2"> Permite acceder a todos los datos que se desee resgistrar acerca de los cultivos</p>
        </article >
    </section>
    <section class="col-6 align-items-center pt-5">
        <article class="datAd">
            <section class=" partsup partsup2" ><h4 class="blanco">Monitoreos</h4></section>  
            <p class="p-2"> Permite acceder a los formularios para cargar los datos de un monitoreo</p>
        </article >
    </section>
</section>